hr {
  border: 2px solid #157347;
  border-radius: 2px;
  opacity: inherit;
}
.container {
  margin: 0 auto;
  display: block;
  padding: 20px;
  max-width: 630px;
}
.card-body {
  border: 2px solid;
  border-radius: 5px;
}
.city-search {
  margin: 5px auto;
  padding: 0;
  border-radius: 10px;
  text-align: center;
}
.search-button {
  padding: 0;
  height: 26px;
  margin: 0 5px;
  width: 100px;
  border-radius: 10px;
  border-color: #157347;
  text-align: center;
  vertical-align: baseline;
}
.current-button {
  padding: 0;
  height: 26px;
  margin: 0 5px;
  width: 100px;
  border-radius: 10px;
  border-color: #5c636a;
  text-align: center;
  vertical-align: baseline;
}
